{
  "ignorePatterns": ["src/assets/**"],
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "rules": {
    "indent": ["error", 4],
    "quotes": ["error", "single"],
    "jsx-quotes": ["error", "prefer-double"],
    "semi": ["error", "always"]
  }
}
